In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("dataset aluminium lme.xlsx")
df.head()

     Tanggal  LME Aluminium Cash  LME Aluminium 3 Months  LME Alumina 3 Months
0 2020-06-01              1551.5                  1540.0                255.75
1 2020-06-02              1499.5                  1529.0                255.75
2 2020-06-03              1526.0                  1555.5                255.75
3 2020-06-04              1535.0                  1560.5                255.75
4 2020-06-05              1553.5                  1579.0                255.75

In [3]:
dm = df.loc[0:6]
# dm = df
dm

     Tanggal  LME Aluminium Cash  LME Aluminium 3 Months  LME Alumina 3 Months
0 2020-06-01              1551.5                  1540.0                255.75
1 2020-06-02              1499.5                  1529.0                255.75
2 2020-06-03              1526.0                  1555.5                255.75
3 2020-06-04              1535.0                  1560.5                255.75
4 2020-06-05              1553.5                  1579.0                255.75
5 2020-06-06              1553.5                  1579.0                255.75
6 2020-06-07              1553.5                  1579.0                255.75

In [4]:
# for i in range(len(dm["LME Aluminium Cash"])):
#     if i == 0:
#         print ((dm["LME Aluminium Cash"][i:(i+1)*3]) )
#         print (max(dm["LME Aluminium Cash"][i:(i+1)*3]))
#         print (min(dm["LME Aluminium Cash"][i:(i+1)*3]))

#         print("target: ", dm["LME Aluminium Cash"][i+3])
#     elif (i)+3 < len(dm["LME Aluminium Cash"]):
#         print ((dm["LME Aluminium Cash"][i:(i)+3] ))
#         print("target: ", dm["LME Aluminium Cash"][i+3])
normalData = pd.DataFrame(columns= ["x1", "x2", "y"])
for i in range(len(dm["LME Aluminium Cash"])):
    if i == 0:
        normalData.loc[i, "x1"] = max(dm["LME Aluminium Cash"][i:(i+1)*3])
        normalData.loc[i, "x2"] = min(dm["LME Aluminium Cash"][i:(i+1)*3])
        normalData.loc[i, "y"] = dm["LME Aluminium Cash"][i+3]
    elif (i)+3 < len(dm["LME Aluminium Cash"]):
        normalData.loc[i, "x1"] = max(dm["LME Aluminium Cash"][i:(i)+3])
        normalData.loc[i, "x2"] = min(dm["LME Aluminium Cash"][i:(i)+3] )
        normalData.loc[i, "y"] = dm["LME Aluminium Cash"][i+3]
normalData

       x1      x2       y
0  1551.5  1499.5    1535
1    1535  1499.5  1553.5
2  1553.5    1526  1553.5
3  1553.5    1535  1553.5

In [5]:
def minmax(data):
    minimum = {}
    maximum = {}
    for i in data.columns:
        minimum[i] = data[i].min()
        maximum[i] = data[i].max()
    for i in data.index:
        for j in data.columns:
            data.loc[i, j] = (data.loc[i,j] - minimum[j]) / (maximum[j] - minimum[j])
    return data
minmax(normalData)

         x1        x2  y
0  0.891892         0  0
1         0         0  1
2         1  0.746479  1
3         1         1  1

In [6]:
def sigmoid(value):
    return 1 / (1 + np.exp(-value))

In [7]:
def differ_sigmoid(value):
    return sigmoid(value) * (1 - sigmoid(value))

In [8]:
b_in = 0.1
layer = 15
b_out = 0.1
alpha = 0.1

In [9]:
weightArray = []
for i in range(2):
    weightArray.append(pd.DataFrame(index=[0]))
for i in range(len(weightArray)):
    for j in range(layer):
        weightArray[i].loc[0, j] = (j+1) * 0.1
weightArray[1]

    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1.0  1.1  1.2  1.3  1.4  1.5

In [10]:
outputLayer = pd.DataFrame(columns=[i for i in range(layer)])
for i in range(len(outputLayer.columns)):
    outputLayer.loc[0, i] = (i+1) * 0.1
outputLayer

    0    1    2    3    4    5    6    7    8  9    10   11   12   13   14
0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1  1.1  1.2  1.3  1.4  1.5

In [11]:
z_net = pd.DataFrame(0, index =[i for i in range(len(normalData))], 
                     columns=[i for i in range(layer)])
for i in z_net.index:
    for j in z_net.columns:
        z_net.loc[i, j] = b_in + normalData.loc[i, "x1"] * weightArray[0].loc[0, j] + normalData.loc[i, "x2"] * weightArray[1].loc[0, j]
z_net

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.189189,0.278378,0.367568,0.456757,0.545946,0.635135,0.724324,0.813514,0.902703,0.991892,1.081081,1.170270,1.259459,1.348649,1.437838
1,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000,0.100000
2,0.274648,0.449296,0.623944,0.798592,0.973239,1.147887,1.322535,1.497183,1.671831,1.846479,2.021127,2.195775,2.370423,2.545070,2.719718
3,0.300000,0.500000,0.700000,0.900000,1.100000,1.300000,1.500000,1.700000,1.900000,2.100000,2.300000,2.500000,2.700000,2.900000,3.100000

In [12]:
z_activate = pd.DataFrame(0, index =[i for i in range(len(normalData))], 
                          columns=[i for i in range(layer)])
for i in z_activate.index:
    for j in z_activate.columns:
#         z_activate.loc[i, j] = 1 / (1+(2.71828183 ** -(z_net.loc[i, j])))
        z_activate.loc[i, j] = sigmoid(z_net.loc[i, j])

z_activate

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.547157,0.569149,0.590871,0.612245,0.633195,0.653653,0.673559,0.692858,0.711505,0.729461,0.746699,0.763194,0.778933,0.793909,0.808120
1,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979,0.524979
2,0.568234,0.610472,0.651115,0.689673,0.725765,0.759125,0.789603,0.817154,0.841820,0.863713,0.882997,0.899869,0.914544,0.927242,0.938180
3,0.574443,0.622459,0.668188,0.710950,0.750260,0.785835,0.817574,0.845535,0.869892,0.890903,0.908877,0.924142,0.937027,0.947846,0.956893

In [13]:
y_net = []
y_temp = []
for i in range(len(normalData)):
    y_temp.append([])
for i in range(len(normalData)):
    for j in (z_activate.columns):
        y_temp[i].append((z_activate.loc[i, j] * outputLayer.loc[0, j]))
    y_net.append(np.sum(y_temp[i])+b_out)
y_net

[8.868551683694383, 6.39975024974728, 10.341731247015254, 10.62513245965415]

In [14]:
y_activate = []
for i in y_net:
    y_activate.append(sigmoid(i))
y_activate

[0.9998592735214598,
 0.9983407852695735,
 0.9999677426135882,
 0.9999757029777668]

In [15]:
backOutputTarget = []
for i in range(len(y_activate)):
    backOutputTarget.append((normalData.loc[i, "y"] - 
                             y_activate[i]) * differ_sigmoid(y_net[i]))
backOutputTarget

[-0.0001406868734436572,
 2.748425714260425e-06,
 1.0405054130504436e-09,
 5.903309457663513e-10]

In [16]:
backAlphaHidden = pd.DataFrame(0, index = [i for i in range(len(normalData))], 
                               columns = [i for i in range(layer)])
for i in backAlphaHidden.index:
    for j in backAlphaHidden.columns:
        backAlphaHidden.loc[i, j] = alpha * backOutputTarget[i] * z_activate.loc[i, j]
backAlphaHidden

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-7.697777e-06,-8.007174e-06,-8.312781e-06,-8.613477e-06,-8.908216e-06,-9.196039e-06,-9.476085e-06,-9.747598e-06,-1.000994e-05,-1.026256e-05,-1.050507e-05,-1.073714e-05,-1.095857e-05,-1.116925e-05,-1.136918e-05
1,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07
2,5.912501e-11,6.351992e-11,6.774886e-11,7.176086e-11,7.551621e-11,7.898735e-11,8.215864e-11,8.502531e-11,8.759180e-11,8.986982e-11,9.187636e-11,9.363190e-11,9.515879e-11,9.647999e-11,9.761816e-11
3,3.391112e-11,3.674570e-11,3.944519e-11,4.196955e-11,4.429018e-11,4.639027e-11,4.826395e-11,4.991453e-11,5.135239e-11,5.259277e-11,5.365382e-11,5.455495e-11,5.531558e-11,5.595431e-11,5.648834e-11

In [17]:
errorTarget = pd.DataFrame(0, index = [i for i in range(len(normalData))], 
                               columns = [i for i in range(layer)])
for i in errorTarget.index:
    for j in errorTarget.columns:
        errorTarget.loc[i, j] = backOutputTarget[i] * outputLayer.loc[0, j]
errorTarget

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-1.406869e-05,-2.813737e-05,-4.220606e-05,-5.627475e-05,-7.034344e-05,-8.441212e-05,-9.848081e-05,-1.125495e-04,-1.266182e-04,-1.406869e-04,-1.547556e-04,-1.688242e-04,-1.828929e-04,-1.969616e-04,-2.110303e-04
1,2.748426e-07,5.496851e-07,8.245277e-07,1.099370e-06,1.374213e-06,1.649055e-06,1.923898e-06,2.198741e-06,2.473583e-06,2.748426e-06,3.023268e-06,3.298111e-06,3.572953e-06,3.847796e-06,4.122639e-06
2,1.040505e-10,2.081011e-10,3.121516e-10,4.162022e-10,5.202527e-10,6.243032e-10,7.283538e-10,8.324043e-10,9.364549e-10,1.040505e-09,1.144556e-09,1.248606e-09,1.352657e-09,1.456708e-09,1.560758e-09
3,5.903309e-11,1.180662e-10,1.770993e-10,2.361324e-10,2.951655e-10,3.541986e-10,4.132317e-10,4.722648e-10,5.312979e-10,5.903309e-10,6.493640e-10,7.083971e-10,7.674302e-10,8.264633e-10,8.854964e-10

In [18]:
errorHidden = pd.DataFrame(0, index = [i for i in range(len(normalData))], 
                               columns = [i for i in range(layer)])
for i in errorHidden.index:
    for j in errorHidden.columns:
        errorHidden.loc[i, j] = z_activate.loc[i, j] * (1 - z_activate.loc[i, j]) * errorTarget.loc[i, j]
errorHidden

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-3.485886e-06,-6.899804e-06,-1.020300e-05,-1.335969e-05,-1.633791e-05,-1.911013e-05,-2.165371e-05,-2.395120e-05,-2.599038e-05,-2.776420e-05,-2.927044e-05,-3.051144e-05,-3.149350e-05,-3.222641e-05,-3.272285e-05
1,6.853915e-08,1.370783e-07,2.056175e-07,2.741566e-07,3.426958e-07,4.112349e-07,4.797741e-07,5.483132e-07,6.168524e-07,6.853915e-07,7.539307e-07,8.224698e-07,8.910090e-07,9.595481e-07,1.028087e-06
2,2.552819e-11,4.948560e-11,7.090970e-11,8.907730e-11,1.035460e-10,1.141566e-10,1.210014e-10,1.243723e-10,1.246976e-10,1.224807e-10,1.182474e-10,1.125050e-10,1.057147e-10,9.827616e-11,9.052103e-11
3,1.443113e-11,2.774599e-11,3.926519e-11,4.852528e-11,5.530512e-11,5.961104e-11,6.163204e-11,6.168049e-11,6.013243e-11,5.737704e-11,5.378005e-11,4.966127e-11,4.528430e-11,4.085503e-11,3.652586e-11

In [19]:
outputWeightCorrection = pd.DataFrame(0, index = [i for i in range(len(normalData))], 
    columns = [i for i in range(layer)])
outputWeightCorrection["b"] = 0
for i in range(len(backOutputTarget)):
    outputWeightCorrection.loc[i, "b"] = b_out * backOutputTarget[i]
for i in z_activate.index:
    for j in z_activate.columns:
        outputWeightCorrection.loc[i, j] = b_out * z_activate.loc[i, j] * backOutputTarget[i]
outputWeightCorrection

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,b
0,-7.697777e-06,-8.007174e-06,-8.312781e-06,-8.613477e-06,-8.908216e-06,-9.196039e-06,-9.476085e-06,-9.747598e-06,-1.000994e-05,-1.026256e-05,-1.050507e-05,-1.073714e-05,-1.095857e-05,-1.116925e-05,-1.136918e-05,-1.406869e-05
1,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,1.442866e-07,2.748426e-07
2,5.912501e-11,6.351992e-11,6.774886e-11,7.176086e-11,7.551621e-11,7.898735e-11,8.215864e-11,8.502531e-11,8.759180e-11,8.986982e-11,9.187636e-11,9.363190e-11,9.515879e-11,9.647999e-11,9.761816e-11,1.040505e-10
3,3.391112e-11,3.674570e-11,3.944519e-11,4.196955e-11,4.429018e-11,4.639027e-11,4.826395e-11,4.991453e-11,5.135239e-11,5.259277e-11,5.365382e-11,5.455495e-11,5.531558e-11,5.595431e-11,5.648834e-11,5.903309e-11

In [20]:
deltaInputHidden = []
for i in range(2):
    deltaInputHidden.append(pd.DataFrame(index=[i for i in range(len(normalData))]))
for i in range(len(deltaInputHidden)):
    for j in range(len(normalData)):
        for k in range(layer):
            deltaInputHidden[i].loc[j, k] = alpha * backAlphaHidden.loc[j, k] * normalData.loc[j, normalData.columns[i]]
deltaInputHidden[1]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00,-0.000000e+00
1,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,4.413557e-12,4.741628e-12,5.057309e-12,5.356797e-12,5.637126e-12,5.896239e-12,6.132969e-12,6.346960e-12,6.538543e-12,6.708592e-12,6.858377e-12,6.989424e-12,7.103402e-12,7.202028e-12,7.286989e-12
3,3.391112e-12,3.674570e-12,3.944519e-12,4.196955e-12,4.429018e-12,4.639027e-12,4.826395e-12,4.991453e-12,5.135239e-12,5.259277e-12,5.365382e-12,5.455495e-12,5.531558e-12,5.595431e-12,5.648834e-12

In [21]:
newWeightArray = []
for i in range(2):
    newWeightArray.append(pd.DataFrame(index=[0]))
for i in range(len(newWeightArray)):
    for j in range(len(normalData)):
        for k in range(layer):
            newWeightArray[i].loc[j, k] = deltaInputHidden[i].loc[j, k] + weightArray[i].loc[0, k]

newWeightArray[1]

    0    1    2    3    4    5    6    7    8    9    10   11   12   13   14
0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1.0  1.1  1.2  1.3  1.4  1.5
1  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1.0  1.1  1.2  1.3  1.4  1.5
2  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1.0  1.1  1.2  1.3  1.4  1.5
3  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  1.0  1.1  1.2  1.3  1.4  1.5

In [22]:
newOutputLayer = pd.DataFrame(index = [i for i in range(len(normalData))], columns=[i for i in range(layer)])
for i in newOutputLayer.index:
    for j in newOutputLayer.columns:
        newOutputLayer.loc[i, j] = outputWeightCorrection.loc[i, j] + outputLayer.loc[0, j]
for i in newOutputLayer.index:
    newOutputLayer.loc[i, "b"] = outputWeightCorrection.loc[i, "b"] + b_out
newOutputLayer

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,b
0,0.0999923,0.199992,0.299992,0.399991,0.499991,0.599991,0.699991,0.79999,0.89999,0.99999,1.09999,1.19999,1.29999,1.39999,1.49999,0.099986
1,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1,1.1,1.2,1.3,1.4,1.5,0.100000
2,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1,1.1,1.2,1.3,1.4,1.5,0.100000
3,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1,1.1,1.2,1.3,1.4,1.5,0.100000

In [23]:
from sklearn.metrics import mean_absolute_error 
from sklearn.metrics import mean_squared_error 
from math import sqrt

#MAE
mae = mean_absolute_error(normalData["y"], y_activate)
print('MAE: %f' % mae)

#MSE
mse = mean_squared_error(normalData["y"], y_activate)
print('MSE: %f' % mse)

#RMSE
rmse = sqrt(mse)
print('RMSE: %f' % rmse)

#MAPE (Mean Absolute Percentage Error)
actual = np.array([normalData["y"]])
forecast = np.array([y_activate])
mape=np.mean(np.abs((actual - forecast) / actual)) * 100
print('MAPE: %f' % mape)

# ACCURACY
Accuracy= 100-mape
print('Accuracy: %f' % Accuracy)

MAE: 0.250394
MSE: 0.249930
RMSE: 0.499930
MAPE: inf
Accuracy: -inf

/Users/rey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: RuntimeWarning: divide by zero encountered in double_scalars

In [24]:
EPSILON = 1e-10

def maape(actual, predicted):
    """
    Mean Arctangent Absolute Percentage Error
    Note: result is NOT multiplied by 100
    """
    result = np.abs((actual - predicted) / (actual + EPSILON))
    return np.mean(np.arctan(np.float32(result)))
maape = maape(actual, forecast)
print('MAAPE: %f' % maape)
Accuracy= 1-maape
print('Accuracy: %f' % Accuracy)

MAAPE: 0.393128
Accuracy: 0.606872